.header {
  margin: 0 auto 42px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (min-width: 600px) {
  .header {
    margin: 0 19px 42px 19px;
  }
}

@media (min-width: 1000px) {
  .header {
    margin: 0 200px 40px 200px;
    padding-top: 45px;
    padding-left: 0;
    padding-right: 0;
  }
}
