.user__container-name-button {
  margin: 0 auto;
  margin-bottom: 7px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

@media (min-width: 700px) {
  .user__container-name-button {
    margin: 0;
    gap: 19px;
  }
}
