.user__container {
  margin-bottom: 34px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

@media (min-width: 700px) {
  .user__container {
    margin-bottom: 0;
    max-width: calc(100% - 150px - 24px);
    grid-template-columns: 120px 1fr;
    grid-template-rows: 60% 40%;
    column-gap: 30px;
    grid-template-areas:
      "foto name"
      "foto about";
    justify-items: start;
  }
}
