.popup__card-name {
	width: 0;
	min-width: 100%;
	align-self: flex-start;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	text-align: start;
	text-overflow: ellipsis;
}
